.*
*~
~*
!.git*
*.tmp
*.stackdump
*.pyc
*.pyo
*.ncb
*.suo
*.user
*.userprefs
*.o
*.obj
*.pdb
*.pch
*_flymake.py
*-journal
GPATH
GTAGS
GSYMS
GRTAGS
TAGS

__pycache__/

*.BASE
*.LOCAL
*.REMOTE
BASE.*/
LOCAL.*/
REMOTE.*/
*.BASE.*
*.LOCAL.*
*.REMOTE.*

### VisualStudioのupgradeファイル
UpgradeLog.XML
_UpgradeReport_Files/
Backup/

*.sdf
*.opensdf
*.ipch
*.ilk
*.exp
*.tlog
*.log
*.lastbuildstate
*.cache
*.bak
*.old
*.idb
*.unsuccessfulbuild

### CMake
CMakeFiles/
CMakeCache.txt
*.cmake


### VisualStudio SoucrceSafe
*.vssscc
*.vspscc

### Windows
Thumbs.db

